<hr>
<h5>Market <nb-icon  style="color: red;" icon="flag" pack="eva"></nb-icon> </h5>
<div class="row">
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
              <h6>Sensex <span style="color:yellow">50000</span></h6>
            </nb-card-body>
          </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
              <h6>Nifty50 <span style="color:yellow">15000</span></h6>
            </nb-card-body>
          </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
              <h6>Bank Nifty <span style="color:yellow">35000</span></h6>
            </nb-card-body>
          </nb-card>
    </div>
</div>
<hr>
<h5>Reports</h5>
<div class="row">
    <div class="col-md-3">
        <nb-card>
            <nb-card-body>
              <h6>Played <span style="color:yellow">10</span></h6>
            </nb-card-body>
          </nb-card>
    </div>
    <div class="col-md-3">
        <nb-card>
            <nb-card-body>
              <h6>Won <span style="color:green">10</span></h6>
            </nb-card-body>
          </nb-card>
    </div>
    <div class="col-md-3">
        <nb-card>
            <nb-card-body>
              <h6>Lost <span style="color:red">5</span></h6>
            </nb-card-body>
          </nb-card>
    </div>
    <div class="col-md-3">
      <nb-card>
          <nb-card-body>
            <h6>Winning % <span style="color:green">7.5</span></h6>
          </nb-card-body>
        </nb-card>
  </div>
</div>
<hr>
<h5>Signals</h5>
<div class="row">
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
              <h6>Open <span style="color:yellow">10</span></h6>
            </nb-card-body>
          </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
              <h6>Progress <span style="color:yellow">10</span></h6>
            </nb-card-body>
          </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
              <h6>Closed <span style="color:yellow">5</span></h6>
            </nb-card-body>
          </nb-card>
    </div>
</div>
<hr>
<h5>Instruments</h5>
<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-body>
              <h6>Total <span style="color:yellow">{{totalInstruments}}</span></h6>
            </nb-card-body>
          </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-body>
              <h6>Active <span style="color:yellow">{{activeInstruments}}</span></h6>
            </nb-card-body>
          </nb-card>
    </div>
</div>